<%= form_for(@koozy) do |f| %>
  <% if @koozy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@koozy.errors.count, "error") %> prohibited this koozy from being saved:</h2>

      <ul>
      <% @koozy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :style %><br />
    <%= f.text_field :style %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
