<h1>Listing koozy_tags</h1>

<table>
  <tr>
    <th>Koozy</th>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @koozy_tags.each do |koozy_tag| %>
  <tr>
    <td><%= koozy_tag.koozy %></td>
    <td><%= koozy_tag.tag %></td>
    <td><%= link_to 'Show', koozy_tag %></td>
    <td><%= link_to 'Edit', edit_koozy_tag_path(koozy_tag) %></td>
    <td><%= link_to 'Destroy', koozy_tag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Koozy tag', new_koozy_tag_path %>
